<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<p>
    <%=username%> Welcome to simple site</p>
<div class="block">
<table>
    <tr>
<tr>
        <th>name:<%=username%></th>
    <tr>
        <tr>
        <th>age:<%=age%></th>
    </tr>
 <th>mail:<%=mail%></th>
<tr>
        <th> password: <%=password%></th>
    </tr>
    </tr>
    </table>
</div>
</body>
</html>
